:root {
  --shadow-color: 0deg 0% 63%;
  --shadow-elevation-low:
    0px 0.2px 0.2px hsl(var(--shadow-color) / 0.34),
    0px 0.4px 0.5px -1.2px hsl(var(--shadow-color) / 0.34),
    -0.1px 0.9px 1px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0px 0.2px 0.2px hsl(var(--shadow-color) / 0.36),
    -0.1px 0.8px 0.9px -0.8px hsl(var(--shadow-color) / 0.36),
    -0.2px 1.9px 2.1px -1.7px hsl(var(--shadow-color) / 0.36),
    -0.4px 4.6px 5.2px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0px 0.2px 0.2px hsl(var(--shadow-color) / 0.34),
    -0.1px 1.3px 1.5px -0.4px hsl(var(--shadow-color) / 0.34),
    -0.2px 2.5px 2.8px -0.7px hsl(var(--shadow-color) / 0.34),
    -0.4px 4.1px 4.6px -1.1px hsl(var(--shadow-color) / 0.34),
    -0.6px 6.6px 7.5px -1.4px hsl(var(--shadow-color) / 0.34),
    -0.9px 10.3px 11.6px -1.8px hsl(var(--shadow-color) / 0.34),
    -1.4px 15.7px 17.7px -2.1px hsl(var(--shadow-color) / 0.34),
    -2px 23.1px 26.1px -2.5px hsl(var(--shadow-color) / 0.34);
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 50px;
}

span {
  background-color: #000;
  color: #fff;
  padding: 4px 8px;
}

.actual-size {
  text-align: center;
  color: gray;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  padding: 8px 16px;
  box-shadow: var(--shadow-elevation-medium);
}

.container {
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 80px;
}

.tools {
  width: 80px;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  padding: 8px;
  background-color: rgba(220, 220, 220, 0.5);
  box-shadow: var(--shadow-elevation-medium);
}

.tools button {
  margin-bottom: 4px;
}

.canvas-container {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-grow:inherit;
  margin: 80px;
  right: auto;
  box-shadow: var(--shadow-elevation-high);
}

.square {
  box-sizing: border-box;
  border: 0.5px rgba(220, 220, 220, 0.5) solid;
  background-color: #fff;
}

.paint {
  background-color: #000;
}

.erase {
  background-color: #fff;
}

footer {
  color: gray;
  font-size: 10px;
  margin-top: 100px;
  margin-bottom: 40px;
}
